<div class="text-center">
  <form id="createNewContact">
  <h3>Create a new contact</h3>
  First name: <input type="text" name="contact[first_name]"><br>
  Last name: <input type="text" name="contact[last_name]"><br>
  email: <input type="text" name="contact[email]"><br>
  <input type="submit" value="Submit"><br>
  </form>
</div>
<div class="text-center">
  <input id="searchContact" placeholder="Search for contact">
  <input type="submit" value="Submit"><br>
</div>
<div class="text-center">
  <div id="main">

  </div>
</div>
